body {
  background-image: url(../media/images/paperBlue.jpg);
  background-repeat: repeat;
  }

article header h1 {
  font-size: .2em;
  color: white;
}

p {
  text-align:center;
  font-family:sans-serif;
  text-shadow: 0 1px 0 white, 0 -1px 0 black;
  color: white;
  font-size: .5em;
}
h1 {
  text-align: center;
  font-size: 4em;
  font-family: 'Advent Pro', sans-serif;
}
nav ul li a {
text-decoration: none;
color: white;
}
nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}

  nav ul {
	padding: 0 20px;
	border-radius: 10px;
	list-style: none;
	position: relative;
	display: inline-table;
  margin-left: 30%;
}
	nav ul:after {
		content: ""; clear: both; display: block;
	}
  nav ul li {
	float: left;
  width: 5em;
}
footer {
  margin-top: -1%;
  /*position: absolute;*/
}
#homeImg {
  margin-top: 19%;
  position: fixed;
  margin-left: 13%;
}
#staticText {
  position: absolute;
margin-top: 9%;
margin-left: 40%;
font-size: 2em;
}
