h1 {
  text-align: center;
  font-size: 4em;
  font-family: 'Advent Pro', sans-serif;
}
template {
  display: none;
}
body {
  background-image: url("../media/images/portfolioBG.jpeg");
  background-size: 100%;
}
article header h1 {
  font-size: .2em;
}
 body header h1 {
   font-size: 5em;
 }
 p {
   font-size: .5em;
 }
