
* {
  /*border: 1px dashed red;*/
}
h1 {
  text-align: center;
  font-size: 4em;
  font-family: 'Advent Pro', sans-serif;
}

.navEl {
  position: fixed;
  margin-left: 26%;
}
.artContent {
  margin-top: 10%;
}
.aboutContent{
  margin-top: 10%;
}
.navUl {
list-style-type: none;
}
nav ul li a {
text-decoration: none;
color: black;
/*text-align: center;*/
margin-right: 105%;
}
.button {
  border: 0px;
}
.theBox {
  height: 100%;
  width: 100%;
}
#headBGImg {
  height: 100%;
  width: 100%;
}
.headerH1 {
  font-size: 6em;
  margin-top: 18%;
}
.projContent {
  display: inline-block;
}

body {
  /*background-image: url("../media/images/portfolioBG.jpeg");*/
  background-size: 100%;
}
article header h1 {
  font-size: .2em;
}
 body header h1 {
   font-size: 5em;
 }
 p {
   font-size: .5em;
 }
 body {
  background-color:white;
}

p{
  text-align:center;
  font-family:sans-serif;
  text-shadow: 0 1px 0 white, 0 -1px 0 black;
  color:#494444;
}
